
<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <a class="navbar-brand" href="#">All Employee List</a>
      <button class="btn btn-danger my-2 my-sm-0 ms-auto" type="btn" (click)="logout()">Logout</button>
</nav>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
    <ng-container matColumnDef="fname">
      <th mat-header-cell *matHeaderCellDef  mat-sort-header> First Name </th>
      <td mat-cell *matCellDef="let element"> {{element.fname}} </td>
    </ng-container>
  
    <ng-container matColumnDef="lname" >
      <th mat-header-cell *matHeaderCellDef> Last name </th>
      <td mat-cell *matCellDef="let element"> {{element.lname}} </td>
    </ng-container>
    <ng-container matColumnDef="empid" >
        <th mat-header-cell *matHeaderCellDef> Employee ID </th>
        <td mat-cell *matCellDef="let element">
          <a  [routerLink]="['/emp/'+ element.empid]" >{{element.empid}} </a>  </td>
     </ng-container> <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>   <ng-container matColumnDef="record">
        <th mat-header-cell *matHeaderCellDef>Created Record On </th>
        <td mat-cell *matCellDef="let element"> {{element.record}} </td>
      </ng-container>
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef>Joining date </th>
        <td mat-cell *matCellDef="let element"> {{element.date| date}} </td>
      </ng-container>
      
      <!-- <ng-container matColumnDef="img">
        <th mat-header-cell *matHeaderCellDef>Joining img </th>
        <td mat-cell *matCellDef="let element"> <img  [src]="element.img" height="100" width="100"> </td>

      </ng-container> -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Action</th>
        <td mat-cell *matCellDef="let element"> 
          <button mat-icon-button [routerLink]="['/edit/'+ element.id]" >
          <mat-icon   >edit</mat-icon> </button>
          <button mat-icon-button color="warn" (click)="deleteemployee(element.id)">
            <mat-icon >delete</mat-icon> </button>
        </td>
      </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <p>{{msg}}</p>